// SASS overrides

// Theme colors
//
$red: #d9534f;
$usc_gold: #ffc803;
$bright_turquoise: #0cebdc;
$spiro_disco_ball: #23c9ff;
$pale_violet: #a18fff;
$vivid_cerise: #d9167e;
$fern: #61ce70;

$primary: $vivid_cerise;
$secondary: $fern;

$component-active-bg: $fern;
$border-color: $usc_gold;

// Theme fonts
$font-family-sans-serif: "Roboto", Helvetica, Arial, sans-serif;
$font-weight-normal: 600;

$indigo: $vivid_cerise;

// Initialize the Open edX Bootstrap theme
@import "edx-bootstrap/sass/open-edx/theme";
